<style type = "text/css">
.google.button2 {
    border: 1px solid rgb(153,153,153);
    font-weight; normal;
    color: #202;
    text-shadow: 0 1px 1px #fff;
    line-height: 1em;
    padding: 0.4em 0.625em;
    margin-right: 1em;
    background-image: -webkit-linear-gradient(top, #abc, #ddd);
    background-image: -moz-linear-gradient(top, #abc, #ddd);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.google.button2:hover {
    background-image: -webkit-linear-gradient(top, #F8F8F8, #ddd);
    background-image: -moz-linear-gradient(top, #F8F8F8, #ddd);
}
.google.button2:active {
    background-image: -webkit-linear-gradient(top, #ccc, #ddd);
    background-image: -moz-linear-gradient(top, #ccc, #ddd);
}
</style>

<div>
    <p>
        <a class = "google button2"> Hello2 </a>
    </p>
</div>
