<div>
    <h1>Log in here</h1>
    <% unless session[:login_error].nil? %>
        <div id="error explanation"><p> No user with login '<%=session[:login_error]%>' was found. </p></div>
    <% end %>
    <%= form_tag(:action => 'post_login') do %>
        <p>Login: <%= text_field_tag(:login) %></p>
    <% end %>
</div>

<div><%= link_to 'Back', users_path %></div>
