<h2><%= @user.first_name + " "+@user.last_name %></h2>

<% @user.photos.each do |photo| %>
    <%= render(:partial => "shared/photo_and_comments", :locals=>{:photo => photo,:posting=> nil}) %>
<% end %>

<hr />
<div><%= link_to 'Back', users_path %></div>
