<table>
    <tr>
        <td>
            <div>
                <%= render :partial => "shared/type1" %>
            </div>
        </td>
        <td>
            <div>
                <%= render :partial => "shared/type2" %>
            </div>
        </td>
    </tr>
</table>
